@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Inter:wght@100..900&family=Itim&display=swap');

:root {
    --brownDarkBS: #271E17;
    --brownSoftBS: #5E371C;
    --whiteBS: #fff;
    --grayBS: #D9D9D9;

    font-family: 'Times New Roman', Times, serif;
    ;
}

* {
    margin: 0;
}

/* Navbar */
.navbar-bemvindo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: 10vh;

    background-color: var(--brownDarkBS);
    font-family: "Inter", sans-serif;
}

.logo-navbar {
    width: 33%;
    margin-left: 3%;
}

.logo-navbar img {
    width: 18%;
    height: 10vh;
}

.itens-navbar {
    width: 33%;

}

.itens-navbar a {
    text-decoration: none;
    color: var(--whiteBS);

    margin: 2%;
}


.buttons-navbar {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2%;
    padding-right: 3%;
}

.buttons-navbar .button-cadastro {
    width: 70px;
    height: 4vh;
    border-radius: 5%;

    color: var(--whiteBS);
    background-color: var(--brownSoftBS);
    border: var(--brownDarkBS);
    cursor: pointer;
}

.buttons-navbar .button-login {
    width: 70px;
    height: 4vh;
    border-radius: 5%;

    color: var(--brownSoftBS);
    background-color: var(--whiteBS);
    border: var(--whiteBS);
    cursor: pointer;
}


/* Cadastro */
.containerCadastro {
    width: 100%;
    height: 89vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.bannerCadastro {
    width: 100%;
    height: 89vh;
}

.bannerCadastro img {
    display: flex;
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.cardCadastro {
    width: 40%;
    height: 70vh;

    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background-color: var(--whiteBS);
    
    border-radius: 5%;
}

.cardCadastro input {
    width: 70%;
    height: 4vh;
    margin-bottom: 3%;

    background-color: var(--grayBS);
    border: var(--grayBS);
}

.cardCadastro h2 {
    margin-top: 4%;
   padding-bottom: 6%;
}

.cardCadastro p {
    font-size: larger;
    margin-bottom: 1%;
}

.cardCadastro button {
    width: 20%;
    height: 5vh;
    color: var(--whiteBS);
    background-color: var(--brownSoftBS);
    border-radius: 5%;
}