@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Inter:wght@100..900&family=Itim&display=swap');

:root {
    --brownDarkBS: #271E17;
    --brownSoftBS: #5E371C;
    --whiteBS: #fff;

    font-family: 'Times New Roman', Times, serif;
    ;
}

* {
    margin: 0;
}

/* Section 1 - Bem-Vindo à Biblios's */
.container-bemVindo {
    width: 100%;
    height: 110%;
}

/* Navbar */
.navbar-bemvindo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    
    width: 100%;
    height: 10vh;

    background-color: var(--brownDarkBS);
    font-family: "Inter", sans-serif;
    z-index: 1000;
}

.logo-navbar {
    width: 33%;
}

.logo-navbar img {
    width: 18%;
    height: 10vh;
}

.itens-navbar {
    width: 33%;

}

.itens-navbar a {
    text-decoration: none;
    color: var(--whiteBS);

    margin: 2%;
}


.buttons-navbar {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2%;
    padding-right: 2%;
}

.buttons-navbar .button-cadastro {
    width: 70px;
    height: 4vh;
    border-radius: 5%;

    color: var(--whiteBS);
    background-color: var(--brownSoftBS);
    border: var(--brownDarkBS);
    cursor: pointer;
}

.buttons-navbar .button-login {
    width: 70px;
    height: 4vh;
    border-radius: 5%;

    color: var(--brownSoftBS);
    background-color: var(--whiteBS);
    border: var(--whiteBS);
    cursor: pointer;
}

/* Banner */
.banner-bemvindo {
    width: 100%;
    height: 89vh;
    

}

.banner-bemvindo img {
    width: 100%;
    height: 100vh;
}

.textoBanner {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;

    width: 98%;
    height: 80%;
    margin: 2%;
}

.textoBanner h1 {
    color: var(--whiteBS);
    font-size: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.filtromarrom-banner img {
    display: flex;
    position: absolute;

    width: 100%;
    height: 100vh;

    filter: blur(1px);
    opacity: 70%;
}


/* Section 2 - benefícios da leitura */
.container-leitura {
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.textoBeneficios {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.textoBeneficios p {
    color: var(--brownSoftBS);

    font-family: "Itim", cursive;
    width: 50%;
    font-size: x-large;
}

.imagemBeneficios {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.imagemBeneficios img {
    width: 80%;
    height: 70vh;

    border-radius: 5%;
}

.referenciaBeneficios {
    display: flex;
    position: absolute;
    justify-content: center;

    margin-top: 48%;

    width: 100%;
    height: 5vh;
}

.referenciaBeneficios p {
    font-size: smaller;
}


/* Sessão 3 - Biblioteca */
.biblioteca {
    width: 100%;
    height: 110vh;

    background-color: var(--brownDarkBS);

    padding-top: 2.5%;
}

.tituloBiblioteca h1 {
    display: flex;
    justify-content: center;
    margin-top: 5%;

    color: var(--whiteBS);
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

.containerCards {
    width: 100%;
    height: 40vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 5%;
}

.containerCards a {
    text-decoration: none;
    color: var(--whiteBS);
}

.cardGenero {
    width: 80%;
    height: 25vh;
    transition: 0.5s;
}

.cardGenero img {
    width: 250px;
    height: 25vh;


    object-fit: cover;

    border-radius: 10%;
}

.cardGenero p {
    display: flex;
    justify-content: center;
    padding-left: 20%;

    font-family: "Itim", cursive;
    ;
}

.cardGenero:hover {
    transform: scale(1.4);
}

 /* Section 4 - ONU */
 .containerONU {
    width: 100%;
    height: 90vh;
 }


 /* Section 5 - Sobre a Biblo´s */
 .containerSobre {
    width: 100%;
    height: 110vh;

    background-color: var(--brownDarkBS);
 }