
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --brownDarkBS: #271E17;
    --brownSoftBS: #5E371C;
    --whiteBS: #fff;

    font-family: 'Times New Roman', Times, serif;
    ;
}

body {
    margin: 0%;
    padding: 0%;
}

.section-dashboard {
    width: 100%;
    height: 89vh;
    display: flex;
    flex-direction: row;
}

.menuLateral {
    background-color: var(--brownDarkBS);
    width: 20%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.menuLateral h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--whiteBS);
    font-size: xx-large;
}

.usuario {
    width: 100%;

    display: flex;
    justify-content: center;
}

.usuario h3 {
    color: var(--whiteBS);
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

.buttons-dash {
    width: 100%;
    height: 20vh;
    margin-top: 20%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.button-simulacaoLeitura {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    background-color: var(--brownSoftBS);
    border-color: var(--brownSoftBS);
    color: var(--whiteBS);
    
    font-weight: 500;
    cursor: pointer;
}

.button-dadosLivros {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    background-color: var(--whiteBS);
    border-color: var(--whiteBS);
    color: var(--brownSoftBS);
    font-weight: 500;
    cursor: pointer;
}

.button-sair {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    background-color: var(--brownSoftBS);
    border-color: var(--brownSoftBS);
    color: var(--whiteBS);
    font-weight: 500;
    cursor: pointer;
}

.graficos-kpis {
    width: 80%;
    height: 40vh;
    background-color: #5E371C;
}

/* Section Quiz */
.sectionQuiz {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/coracao\ de\ livros.jfif);
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionQuiz button {
    cursor: pointer;
    background-color: var(--brownSoftBS);
    color: var(--whiteBS);
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 6px;
    height: 48px;
    padding: 0 32px;
    transition: filter;
}

.sectionQuiz button:not(:disabled):hover {
    filter: brightness(0.8);
}

.container-quiz {
    background-color: var(--brownDarkBS);
    width: 90%;
    max-width: 800px;
    border: 2px solid #5E371C;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0 0 2px 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-questoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.perguntas {
    color: var(--whiteBS);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.questoesQuiz {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.proxima-pergunta {
    margin-top: 32px;
}

.hide {
    display: none;
}

.questoesQuiz button.fundoRespostaCorreta {
    background-color: green;
}

.questoesQuiz button.fundoRespostaIncorreta {
    background-color: red;
}

.questoesQuiz button:disabled {
    cursor: not-allowed;
}

.quiz-mensagemFinal {
    font-size: 20px;
    text-align: center;
    color: var(--whiteBS);
}

.quiz-mensagemFinal span {
    display: block;
    margin-top: 8px;
}
