@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Inter:wght@100..900&family=Itim&display=swap');

:root {
    --brownDarkBS: #271E17;
    --brownSoftBS: #5E371C;
    --whiteBS: #fff;

    font-family: 'Times New Roman', Times, serif;
    ;
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: var(--brownDarkBS);
}

/* NAVBAR */
.navbar-biblio {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--whiteBS);
    z-index: 1000;
    position: fixed;
    padding-top: 0%;
}

.logo-navbar {
    width: 33%;
}


.logo-navbar img {
    width: 20%;
    height: 10vh;

    display: flex;
    object-fit: cover;
}

.itens-navbar {
    width: 33%;

    display: flex;
    justify-content: center;
}

.itens-navbar a {
    text-decoration: none;
    color: var(--brownDarkBS);

    margin: 2%;
}

.buttons-navbar {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2%;
    padding-right: 3%;
}

.buttons-navbar .button-cadastro {
    width: 70px;
    height: 4vh;
    border-radius: 5%;

    color: var(--whiteBS);
    background-color: var(--brownSoftBS);
    border: var(--brownDarkBS);
    cursor: pointer;
}

.buttons-navbar .button-login {
    width: 70px;
    height: 4vh;
    border-radius: 5%;

    color: var(--brownSoftBS);
    background-color: var(--whiteBS);
    border: var(--whiteBS);
    cursor: pointer;
}


/* Livros */
.containerBiblios {
    width: 100%;
    height: 1200px;

    padding-top: 7%;
}

.containerBiblios h1 {
    display: flex;
    justify-content: center;
    margin-top: 1%;

    color: var(--whiteBS);
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

.prateleiraLivros {
    width: 100%;
    height: 20px;

    display: flex;
    justify-content: center;

    padding-top: 26%;
}

.prateleiraLivros img {
    width: 80%;
}

.livros {
    width: 100%;
    height: 50vh;
    margin-top: 2%;

    display: flex;
    justify-content: center;
    position: absolute;
    gap: 3%;
}

.livros img {
    width: 210px;
    height: 50vh;


    border-radius: 3%;
    display: flex;
    object-fit: cover;
    transition: 0.5s;
    cursor: pointer;
}

.livros img:hover {
    transform: scale(1.2);
}


/* Modal*/
.modal {
    display: flex;
    position: fixed;
    z-index: 999;

    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
}

.button-exit {
    position: absolute;
    width: 40px;
    height: 40px;

    margin-top: 1%;
    margin-left: 36%;
    border-radius: 50%;

    background-color: var(--brownSoftBS);
    border-color: var(--brownDarkBS);
    color: var(--whiteBS);
    cursor: pointer;
    font-size: x-large;
}

.modalButtons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;

    margin-top: 17%;
    margin-left: 3%;
    width: 10%;
    height: 25vh;
    gap: 5%;
}

.button-previaLivro {
    width: 150px;
    height: 5vh;
    cursor: pointer;

    background-color: var(--whiteBS);
    border-color: var(--brownDarkBS);
    color: var(--brownDarkBS);
}

.button-comprarLivro {
    width: 150px;
    height: 5vh;
    cursor: pointer;

    background-color: var(--brownDarkBS);
    border-color: var(--brownDarkBS);
    color: var(--whiteBS);

}

/* DEZESSEIS LUAS  */
#modalDezesseisLuas {
    width: 40%;
    height: 65vh;
    background-color: var(--whiteBS);
    border-radius: 5%;
    margin-top: 12%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
}

#modalDezesseisLuas img {
    width: 180px;
    margin: 25px;

    display: flex;
    position: absolute;
}

#modalDezesseisLuas p {
    width: 52%;
    height: 40vh;
    margin-left: 42%;
    margin-right: 2%;
    padding-top: 6%;

    color: var(--brownDarkBS);
    font-size: x-large;
}


#modalDezesseisLuas a {
    width: 100px;
    height: 5vh;
}


/* Sussurro */
#modalSussurro {
    width: 40%;
    height: 65vh;
    background-color: var(--whiteBS);
    border-radius: 5%;
    margin-top: 12%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;

}

#modalSussurro img {
    width: 180px;
    margin: 25px;

    display: flex;
    position: absolute;
}

#modalSussurro p {
    width: 50%;
    height: 40vh;
    margin-left: 42%;
    margin-right: 2%;
    padding-top: 6%;

    color: var(--brownDarkBS);
    font-size: x-large;
}

/* Heaven Official Blessing */
#modalHeaven {
    width: 40%;
    height: 65vh;
    background-color: var(--whiteBS);
    border-radius: 5%;
    margin-top: 12%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;

}

#modalHeaven img {
    width: 180px;
    margin: 25px;

    display: flex;
    position: absolute;
}

#modalHeaven p {
    width: 50%;
    height: 40vh;
    margin-left: 42%;
    margin-right: 2%;
    padding-top: 6%;

    color: var(--brownDarkBS);
    font-size: x-large;
}

/* Crepúsculo */
#modalCrepusculo {
    width: 40%;
    height: 65vh;
    background-color: var(--whiteBS);
    border-radius: 5%;
    margin-top: 12%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;

}

#modalCrepusculo img {
    width: 180px;
    margin: 25px;

    display: flex;
    position: absolute;
}

#modalCrepusculo p {
    width: 50%;
    height: 40vh;
    margin-left: 42%;
    margin-right: 2%;
    padding-top: 6%;

    color: var(--brownDarkBS);
    font-size: x-large;
}

/* A história sem fim */
#modalHistoriaSemFim {
    width: 40%;
    height: 65vh;
    background-color: var(--whiteBS);
    border-radius: 5%;
    margin-top: 12%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;

}

#modalHistoriaSemFim img {
    width: 180px;
    margin: 25px;

    display: flex;
    position: absolute;
}

#modalHistoriaSemFim p {
    width: 50%;
    height: 40vh;
    margin-left: 42%;
    margin-right: 2%;
    padding-top: 6%;

    color: var(--brownDarkBS);
    font-size: x-large;
}

/* Mo Dao zu Shi*/
#modalMoDaoZuShi {
    width: 40%;
    height: 65vh;
    background-color: var(--whiteBS);
    border-radius: 5%;
    margin-top: 12%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;

}

#modalMoDaoZuShi img {
    width: 180px;
    margin: 25px;

    display: flex;
    position: absolute;
}

#modalMoDaoZuShi p {
    width: 50%;
    height: 40vh;
    margin-left: 42%;
    margin-right: 2%;
    padding-top: 6%;

    color: var(--brownDarkBS);
    font-size: x-large;
}

/* O pequeno príncipe */
#modalpequenoPrincipe {
    width: 40%;
    height: 65vh;
    background-color: var(--whiteBS);
    border-radius: 5%;
    margin-top: 12%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;

}

#modalpequenoPrincipe img {
    width: 180px;
    margin: 25px;

    display: flex;
    position: absolute;
}

#modalpequenoPrincipe p {
    width: 50%;
    height: 40vh;
    margin-left: 42%;
    margin-right: 2%;
    padding-top: 6%;

    color: var(--brownDarkBS);
    font-size: x-large;
}

/* A bússula de ouro */
#modalBussulaDeOuro {
    width: 40%;
    height: 65vh;
    background-color: var(--whiteBS);
    border-radius: 5%;
    margin-top: 12%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;

}

#modalBussulaDeOuro img {
    width: 180px;
    margin: 25px;

    display: flex;
    position: absolute;
}

#modalBussulaDeOuro p {
    width: 50%;
    height: 40vh;
    margin-left: 42%;
    margin-right: 2%;
    padding-top: 6%;

    color: var(--brownDarkBS);
    font-size: x-large;
}

/* Modal Uzumaki */
#modalUzumaki {
    width: 40%;
    height: 65vh;
    background-color: var(--whiteBS);
    border-radius: 5%;
    margin-top: 12%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;

}

#modalUzumaki img {
    width: 180px;
    margin: 25px;

    display: flex;
    position: absolute;
}

#modalUzumaki p {
    width: 50%;
    height: 40vh;
    margin-left: 42%;
    margin-right: 2%;
    padding-top: 6%;

    color: var(--brownDarkBS);
    font-size: x-large;
}

/* Tomie */
#modalTomie {
    width: 40%;
    height: 65vh;
    background-color: var(--whiteBS);
    border-radius: 5%;
    margin-top: 12%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;

}

#modalTomie img {
    width: 180px;
    margin: 25px;

    display: flex;
    position: absolute;
}

#modalTomie p {
    width: 50%;
    height: 40vh;
    margin-left: 42%;
    margin-right: 2%;
    padding-top: 6%;

    color: var(--brownDarkBS);
    font-size: x-large;
}

/* Os 13 porquês */
#modalTrezePorques {
    width: 40%;
    height: 65vh;
    background-color: var(--whiteBS);
    border-radius: 5%;
    margin-top: 12%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;

}

#modalTrezePorques img {
    width: 180px;
    margin: 25px;

    display: flex;
    position: absolute;
}

#modalTrezePorques p {
    width: 50%;
    height: 40vh;
    margin-left: 42%;
    margin-right: 2%;
    padding-top: 6%;

    color: var(--brownDarkBS);
    font-size: x-large;
}

/* Coraline */
#modalCoraline {
    width: 40%;
    height: 65vh;
    background-color: var(--whiteBS);
    border-radius: 5%;
    margin-top: 12%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;

}

#modalCoraline img {
    width: 180px;
    margin: 25px;

    display: flex;
    position: absolute;
}

#modalCoraline p {
    width: 50%;
    height: 40vh;
    margin-left: 42%;
    margin-right: 2%;
    padding-top: 6%;

    color: var(--brownDarkBS);
    font-size: x-large;
}


/* SESSÃO DE LIVROS DE ROMANCE */
.containerLivrosGeneros {
    width: 100%;
    height: 500px;

    padding-top: 7%;
}

.prateleiraSessoes {
    width: 100%;
    height: 20px;

    display: flex;
    justify-content: center;

    padding-top: 26%;
}

.prateleiraSessoes img {
    width: 80%;
}

.containerLivrosGeneros h1 {
    display: flex;
    justify-content: center;
    margin-top: 1%;

    color: var(--whiteBS);
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}


